#include <windows.h>
#include "Fill.h"

MYMENU MENU DISCARDABLE 
BEGIN
  POPUP "&Scan Fill"
  BEGIN
    MENUITEM "&Draw Circles", ID_CIRCLES
    MENUITEM "&Filling", ID_FILL, GRAYED
  END
  MENUITEM "&Clear", ID_CLEAR
  MENUITEM "&Exit",  ID_EXIT
END

MyDB DIALOG DISCARDABLE  0, 0, 180, 120
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Circles' Radius"
FONT 8, "MS Sans Serif"
BEGIN
  DEFPUSHBUTTON   "OK",ID_OK,31,100,50,14
  PUSHBUTTON      "CANCEL",ID_CANCEL,104,100,50,14
  LTEXT           "Circle 1 Radius:",ID_LABEL1,15,14,108,17
  LTEXT           "Circle 2 Radius:",ID_LABEL2,15,45,108,22
  LTEXT           "Circle 3 Radius:",ID_LABEL3,15,75,108,27
  EDITTEXT        ID_EB1,114,14,40,15,ES_AUTOHSCROLL
  EDITTEXT        ID_EB2,114,45,40,15,ES_AUTOHSCROLL
  EDITTEXT        ID_EB3,114,75,40,15,ES_AUTOHSCROLL
  
END
